main {
  margin: 150px 0;
  text-align: center;
}
.task-container {
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 12px;
  max-width: 600px;
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
}

ul {
  display: inline-block; 
  text-align: left; 
}

ul li{
    padding: 10px;
}

button {
  background-color: darkgreen;
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 10px 0;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: green;
}

.fetch-btn {
  padding: 10px 20px;
  margin: 15px 0;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.fetch-btn:hover {
  background-color: #0056b3;
}
.user-list li {
  display: inline-block;
}
h2{
    margin-bottom: 10px;
}
.input input{
    width: 100%;
    padding: 10px 0;
}
.dis{
  margin-top: 20px;
  color: brown
}