.hero-text {
  max-width: 380px;
 margin: 150px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px #ccc;
  background-color: #fff;
  text-align: center;
  font-family: Arial, sans-serif;
}

@media (max-width: 768px) {
  .hero-text {
  max-width: 230px;
 margin: 150px auto;
 font-size: 18px;
  padding: 18px;
}
  
  }


  .container {
  text-align: center;
  padding: 2rem;
  border: 2px solid black;
  width: 50%;
  margin: 20px auto;
  border-radius: 10px;
}
.user-list li{
  padding: 10px 100px;
}

.dis{
  font-size: 2em;
  font-weight: bold;
  color: brown;
}